@font-face {
    font-family: hero;
    src: url(../assets/fonts/Hero.otf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: hero;
    background-color: #333;
    background-size: cover;
    width: auto;
    height: auto;
}

 /*-----------------------------------------------NAVBAR---------------------------------------------*/
 header{
    height: 0px;
    margin-top: 5px;
  }
  
  .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    margin-right: 60px;
  }
  
  .links {
    display: flex;
    gap: 20px;
    margin-right: 30px;
  }
  
  .nomesito {
    margin-left: 60px;
    display: flex;
    align-items: center;
  }

  .logo{
    transform: scale(0.8);
  }
  
  .nome {
    color:  #ffffff;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .nome:hover {
    color: none;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .navbar a{
    margin-left: 10px;
    font-size: 25px;
    transition: .3s linear;
  }
  
  .navbar a:hover {
    color: rgb(0, 166, 207);
  }

   .buttondiv .buttonlink:hover{
    color: #fff;
}
  
  .navbar i{
    margin-right: 8px;
    font-size: 16px;
  }
  
  .menu-toggle-btn{
    margin-right: 30px;
    height: 90px;
    line-height: 90px !important;
    color: #fff;
    font-size: 26px;
    display: none !important;
    cursor: pointer;
  }

  .buttonlink {
    background-color: rgb(0, 166, 207);
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
}

.buttonlink:hover{
    transform: scale(1.02);
    transition: 0.4s;
    color: #fff;
}

/*---------------------------------------------FINE NAVBAR-----------------------------------------------*/

.page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    transform: translateY(15%);
}

/*------------------------------contattaci---------------------------------------*/
.contact-form {
    width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form label {
    color: black;
  }
  
  .contact-form .heading {
    font-size: 35px;
    text-align: center;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  textarea {
    resize: none;
    height: 80px;
    width: 200px;
  }
  
  .contact-form input, .contact-form textarea {
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  
  .contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #65faff;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
    background-color: #1bcaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
/*------------------------------fine contattaci---------------------------------------*/



/*------------------------------footer------------------------------*/
.footer {
    padding: 40px 0;
    background-color: #333;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    font-size: 23px;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #ffffff54;
}

/*------------------------------fine footer------------------------------*/
/*navbar*/
@media (max-width:1200px) {

    .nomesito{
        margin-left: 30px;
    }
  
    .menu-toggle-btn{
      display: block !important;
    }
  
    .links {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .navbar {
      position: absolute;
      max-width: 400px;
      top: 80px;
      right: 0;
      display: none;
      padding: 20px 40px;
      z-index:100; 
      backdrop-filter: blur(15px);
      background-color: #33333356;
      border-radius: 10px;
      overflow: hidden; 
    }
  
    .navbar a{
      display: block;
      margin: 15px 0px;
    }
  
    .navbar.active{
      display: block;
    }
  }
  
  @media (max-width:510px) {
    .nome {
        font-size: 45px;
    }  
  
    .navbar{
        min-width: 100%;
        margin-right: 0px;
      }
  }
  
  @media (max-width:460px) {    
      .nomesito .logo {
        transform: scale(0.7);
      }
  
      .nome {
        font-size: 40px;
      }
  }
  
  @media (max-width:430px) {    
    .nome {
      font-size: 35px;
    }
  
    .nomesito {
        margin-left: 20px;
    }
  }
  
  @media (max-width:400px) {
    .nomesito  {
        margin-left: 10px;
      }
  
    .nome {
        margin-right: 15px;
      }
  }
  
  @media (max-width:380px) {
    .nome {
        font-size: 30px;
      }
  }
  
  @media (max-width:340px) {
    .nomesito .logo {
        display: none;
      }
  
      .nome {
        margin-left: 10px;
        font-size: 33px;
      }
  }





/*contatti*/
@media (max-width:600px) {
    .contact-form {
        width: 450px;
      }
}

@media (max-width:550px) {
    .contact-form {
        width: 400px;
      }
}

@media (max-width:480px) {
    .contact-form {
        width: 350px;
      }
}

@media (max-width:400px) {
    .contact-form {
        width: 300px;
      }
}

@media (max-width:350px) {
    .contact-form {
        width: 270px;
      }
}




