@font-face {
    font-family: hero;
    src: url('../assets/fonts/Hero.otf');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hero;
    scroll-behavior: smooth; 
}

body 
{
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background-image:url('../assets/images/loginBg.jpg');
    object-fit: cover;
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;  
   
    width: 100%;
}

/*---------------------------------------NAVBAR-----------------------------------*/
.navbar{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    gap:10px; 
    
}

.navbar .nome{
    color:  #ffffff;
    font-size: 50px;
    font-weight: 700;
    z-index: 1; /*per il pointer*/
    cursor: pointer;
    margin-right: 20px;
}

.navbar .logo {
    z-index: 1; /*per il pointer*/
    cursor: pointer;
}
/*-------------------------------------FINE NAVBAR-----------------------------------*/


/*---------------------------------------SECTION-----------------------------------*/
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 60px;
}

.wrapper 
{
    margin-top:100px; 
    margin-bottom:100px;   
    position:relative;
    width: 400px;
    height:620px;
    background: transparent;
    border: 2px solid rgb(214, 163, 214);
    border-radius:20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 25px; 
     

}

.wrapper .center
{
    width:100%;
    padding-left:40px;
    padding-right:40px;
    
    padding-bottom:40px;
}
.Container{
    display:none;
    
}



.top {
    display: flex;
    flex-direction: column;
   
}


.center h2
{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
   
}

.Text_Field
{
    
    padding-top: 20px;
    position: relative;
    width:100%;
    height: 5%;
    
    

}

.Text_Field input
{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    width:100%;
    height: 100%;
    top:100%;
    background: transparent;
    outline:none;
    color: #ffffff;
    font-size: 20px;
    border: 2px solid rgb(249, 195, 246);
    border-radius: 20px;

} 

/*serve per evitare l'highlight del testo quando uso l'autofill nei textfield*/
/*https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete*/
input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(255, 255, 255) !important
}

select
{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    width:100%;
    height: 100%;
    top:100%;
    background: transparent;
    outline:none;
    color:white;
    font-size: 20px;
    border: 2px solid rgb(249, 195, 246);
    border-radius: 20px;
}
option
{
    font-size: 20px;
       background-color: #A877D9;
}



a {
    text-decoration: none;
    color: #d5c9ff;
    font-family: hero;
    font-size: 16px;
}

a:hover {
    color: #7584d4;
}

.Link2 {
    font-weight: 800;
}

.Text_Link1 
{
    padding-top: 5%;
}

.Ricordami
{
    display: flex;
    padding-top: 10px;
    gap: 5px;
    font-size: 16px;
    color: #d3d3d3;
}

.Bottone {
    padding-top:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.Bottone:hover{
    transform: scale(1.03);
}

.Log_in
{
    font-size: 25px;
    font-weight: 600;
    background-color:rgb(0, 166, 207);
    text-align: center;
    color: #ffffff;
    padding: 6px 30px;
    border-radius: 25px;
    cursor: pointer;
    border:none;
}

.Log_in:hover{
    color:white;
}

.Text_Link2 
{
    text-align: center;
    transform: translateY(15px);
    color: #B48FD9;
    font-size:0.95em;
    margin-bottom: 10px;
}

.Scritta{
    padding-left:3.5%;
    padding-bottom:0.5%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.alert {
    color: crimson;
    text-align: center;
    font-weight: bold;
}

/*---------------------------------------FINE SECTION-----------------------------------*/

/*-------------------------------------RESPONSIVE DESIGN---------------------------------*/
/*form*/
@media (max-width: 530px) {


    .wrapper{
      width:370px !important; /*40%*/
      height:25%  !important;
      padding-top:0px;
      
    }
    body{
        min-height:50vh;
      }
    .wrapper .center{
        padding-left:35px;
        padding-right:35px;
        padding-top:0px;
        padding-bottom:10px;
        
    }

    .center h2{
        font-size: 30px;
    }
    .Text_Field{
        width:100%;
    }
    .Scritta{
        
        font-size:19px!important;
    }
   

    .Log_in{
        padding: 3px 18px !important;
    }
    .Text_Link2{
        font-size:15px !important;
        padding-bottom:2% ;
    }
    a{
    font-size:15px !important;
    }
    
    .Text_2{
        margin-bottom: 10px;
    }
    


}


@media (max-width: 426px) {
    
    .wrapper{
        width:290px !important; /*60%*/
        height:15%;
        padding-top:0px;
      }
      body{
        min-height:50vh;
      }
      .wrapper .center{
          padding-left:25px;
          padding-right:25px;
          padding-top:0px;
          padding-bottom:10px;
          
      }
  
      .center h2{
          font-size: 25px;
      }
      .Text_Field{
          width:100%;
      }
      .Scritta{
          
          font-size:15px !important;
      }
  
      
      .Text_Link2{
        font-size:12px !important;
        padding-bottom:2%;
        
    }
    
    a{
        font-size:12px !important;
        }
        .Log_in{
            
            padding: 3px 18px;
            font-size:20px;
        }
    .Bottone{
        padding-top:10px !important;
        padding-bottom:0px !important;
    }
    .Text_2{
        margin-bottom: 10px;
    }
  
  
  }

  @media (max-width: 320px) {
    
    .wrapper{
        width:240px !important; /*60%*/
        height:5%;
        padding-top:0px;
      }
      body{
        min-height:20vh;
      }
      .wrapper .center{
          padding-left:20px;
          padding-right:20px;
          padding-top:0px;
          padding-bottom:10px;
          
      }
  
      .center h2{
        font-size: 20px; 
      }
      .Text_Field{
          width:100%;
      }
      .Scritta{
        padding-left:8.0% ;
          font-size:15px ;
      }
  
      .Log_in{
          padding: 3px 15px ;
          font-size: 17px;
      }
      .Text_Link2{
        font-size:9px ;
        padding-bottom:2.5%;
    }
    a{
        font-size:9px ;
        }
        .Text_2{
            margin-bottom: 10px;
        }
  }

  @media (max-height:730px) {

    .wrapper{
        
        margin-top:100px;
      }
      
   

    

    .Container{
        padding-left:5px;
        padding-right:5px;
        position:relative;
        display: flex;
        flex-direction: row;
        
    }
    
    .Colonna{
        padding-left:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 50%;
        height: 50%;
    
    }
    
    
  }


  @media (max-height: 535px) {
    .wrapper{
        
        margin-top:100px;
        
      }
      

    .Container{
        padding-left:5px;
        padding-right:5px;
        position:relative;
        display: flex;
        flex-direction: row;
        
    }
    
    .Colonna{
        padding-left:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 50%;
        height:40%;
    
    }
    
    
  }

  @media (max-height: 430px) {
    .wrapper{
        margin-top:100px;
      }
     

   
    .navbar{
        padding-bottom:0px;
    }
       

    .Container{
        padding-left:5px;
        padding-right:5px;
        position:relative;
        display: flex;
        flex-direction: row;
        
    }
    
    .Colonna{
        padding-left:10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 50%;
        height:40%;
    
    }
    
  }








  /*navbar*/
@media (max-width:480px) {  
    .navbar .nome{
        font-size: 45px;
    }
}

@media (max-width:430px) {
    .navbar .nome{
        font-size: 40px;
    }
}

@media (max-width:380px) {
    .navbar .nome{
        font-size: 35px;
    }
}

@media (max-width:340px) {
    .navbar .nome{
        font-size: 30px;
    }
}